<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEXUS</title>
</head>
<body>
<h1>Login</h1>
    <form action="submit" method="POST"> {% csrf_token %}
        <div align="center">

            <label>Usuário: </label>
            <input type="text" name="username">
            <label>Senha: </label>
            <input type="password" name="password">
            <button type="submit">Entrar </button>
        </div>
    </form>

    {% for massage in messages %}
        <div align="center">
            <strong>Erro! Usuário ou senha inválido.</strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>